@model MyTestWeb.Models.PartialActionModel
@{
    ViewBag.Title = "_Action";
}

<h2>Action</h2>
<h3>
    1.结果直接展示为HtmlString .
    2.需要创建对应的child action
    3.返回字符串，可以存储在变量里.
</h3>
<h2>@Model.Title</h2 >

